Repository wxWidgets/wxWidgets, pull requests merged in 2019-01, with the labels that each got.

#1131 Move the hack for Cmd+C in wxOSX to a better place
  src/common/dlgcmn.cpp
  src/generic/wizard.cpp
  src/osx/cocoa/button.mm
Labels: OSX

#1160 Qt painter fixes
  src/qt/graphics.cpp
Labels: Qt

#1186 Fix sending of EVT_KEY_DOWN on wxGTK for non-ASCII characters
  src/gtk/window.cpp
Labels: GTK
