Repository wxWidgets/wxWidgets, pull requests merged in 2020-07, with the labels that each got.

#1925 Fix height of filter list in wxGenericDirCtrl
  src/generic/dirctrlg.cpp
Labels: ok to merge

#1934 Improve Widgets sample
  samples/widgets/dirctrl.cpp
  samples/widgets/filectrl.cpp
Labels: ok to merge

#1942 Allow wxPopupTransientWindow to work without wxPU_CONTAINS_CONTROLS too
  include/wx/msw/popupwin.h
  include/wx/popupwin.h
  samples/dialogs/dialogs.cpp
  samples/dialogs/dialogs.h
  samples/popup/popup.cpp
  src/generic/tipwin.cpp
  src/msw/popupwin.cpp
  src/msw/window.cpp
Labels: MSW

#1953 Ensure the clipboard contents are stored properly on GTK
  interface/wx/clipbrd.h
  samples/clipboard/clipboard.cpp
  src/gtk/clipbrd.cpp
Labels: GTK, ok to merge

#1984 macOS DPI experiments
  include/wx/osx/window.h
  src/osx/carbon/dcscreen.cpp
  src/osx/cocoa/nonownedwnd.mm
  src/osx/window_osx.cpp
Labels: OSX

#1987 IE-based wxWebView fixes from Trac patches
  include/wx/msw/private/webview_ie.h
  include/wx/msw/private/webview_missing.h
  src/msw/webview_ie.cpp
Labels: MSW

#1993 Add header test to CMake and resolve warnings
  build/cmake/tests/CMakeLists.txt
  build/cmake/tests/headers/CMakeLists.txt
  demos/forty/scoredg.cpp
  demos/forty/scoredg.h
  include/wx/msw/nonownedwnd.h
  tests/allheaders.h
Labels: ok to merge
