Repository wxWidgets/wxWidgets, pull requests merged in 2021-11, with the labels that each got.

#2570 Fixes for wxTextCtrl with long text in wxMSW
  src/generic/textdlgg.cpp
  src/msw/textctrl.cpp
  src/msw/window.cpp
Labels: MSW

#2575 gtk: map GDK_KEY_Launch1/2 to WXK_LAUNCH_APP1/2
  include/wx/defs.h
  interface/wx/defs.h
  samples/keyboard/keyboard.cpp
  src/gtk/window.cpp
Labels: GTK

#2572 Add wxThread::SetName for naming threads for debugging purposes
  include/wx/thread.h
  interface/wx/thread.h
  samples/thread/thread.cpp
  src/msw/thread.cpp
  src/unix/threadpsx.cpp
Labels: ok to merge

#2316 WebView add asynchronous RunScript variant: RunScriptAsync
  include/wx/gtk/webview_webkit.h
  include/wx/msw/webview_edge.h
  include/wx/osx/webview_webkit.h
  include/wx/private/jsscriptwrapper.h
  include/wx/webview.h
  interface/wx/webview.h
  samples/webview/webview.cpp
  src/common/webview.cpp
  src/gtk/webview_webkit2.cpp
  src/msw/webview_edge.cpp
  src/msw/webview_ie.cpp
  src/osx/webview_webkit.mm
  tests/controls/webtest.cpp
Labels: ok to merge
