Repository wxWidgets/wxWidgets, pull requests merged in 2021-04, with the labels that each got.

#2297 Fix wxDatePickerCtrl best size in wxMSW when using wxDP_ALLOWNONE
  src/msw/datetimectrl.cpp
Labels: MSW

#2278 Set colour without changing font in wxOSX
  include/wx/osx/cocoa/private.h
  include/wx/osx/core/private.h
  include/wx/osx/iphone/private.h
  include/wx/osx/window.h
  src/osx/cocoa/window.mm
  src/osx/iphone/window.mm
  src/osx/window_osx.cpp
Labels: OSX

#2304 Fix check items state in wxSearchCtrl menu
  include/wx/osx/menu.h
  include/wx/osx/srchctrl.h
  include/wx/osx/window.h
  samples/widgets/searchctrl.cpp
  src/osx/menu_osx.cpp
  src/osx/srchctrl_osx.cpp
Labels: OSX

#2305 Fixes for wxDVC columns autosizing under Mac
  include/wx/osx/cocoa/dataview.h
  src/osx/cocoa/dataview.mm
  src/osx/dataview_osx.cpp
Labels: OSX

#2327 MSW thread TLS fix and cleanup
  src/msw/thread.cpp
Labels: MSW

#2342 Don't enable warnings in the system headers during all headers test
  tests/allheaders.cpp
Labels: ok to merge
