Repository wxWidgets/wxWidgets, pull requests merged in 2021-05, with the labels that each got.

#2353 CMake: fix two wx-config issues
  build/cmake/config.cmake
Labels: ok to merge

#2346 Fix using BCM_GETIDEALSIZE
  src/msw/anybutton.cpp
Labels: MSW

#2362 Fix bogus wxDVC context menu event in wxGTK
  src/gtk/dataview.cpp
Labels: GTK

#2379 Fix key events for wxDataViewCtrl in wxGTK
  src/gtk/toolbar.cpp
  src/gtk/window.cpp
  tests/controls/dataviewctrltest.cpp
Labels: GTK
