Repository wxWidgets/wxWidgets, pull requests merged in 2021-01, with the labels that each got.

#2146 Differentiate between macOS and iOS minimal supported version for CMake builds
  .travis.yml
  CMakeLists.txt
  samples/minimal/CMakeLists.txt
Labels: OSX

#2113 macOS/iOS: Use WKWebView for wxWebView Implementation
  Makefile.in
  build/bakefiles/Bakefiles.bkgen
  build/bakefiles/files.bkl
  build/bakefiles/make_dist.mk
  build/cmake/files.cmake
  build/cmake/lib/core/CMakeLists.txt
  build/cmake/options.cmake
  build/cmake/samples/html.cmake
  build/files
  configure
  configure.in
  include/wx/defs.h
  include/wx/html/webkit.h
  include/wx/osx/webview_webkit.h
  interface/wx/html/webkit.h
  interface/wx/webview.h
  samples/html/htmlctrl/Makefile.in
  samples/html/htmlctrl/htmlctrl.bkl
  samples/html/htmlctrl/htmlctrl.cpp
  samples/html/htmlctrl/makefile.unx
  samples/webview/webview.cpp
  src/html/htmlctrl/webkit/webkit.mm
  src/osx/webview_webkit.mm
  tests/controls/webtest.cpp
Labels: OSX

#2187 Use wxGtkValue RAII wrapper in wxGTK code
  include/wx/gtk/private/value.h
  src/gtk/bmpcbox.cpp
  src/gtk/choice.cpp
  src/gtk/dataview.cpp
  src/gtk/renderer.cpp
  src/gtk/settings.cpp
Labels: GTK

#2199 Try to fix WebRequest::Put test in AppVeyor
  src/msw/webrequest_winhttp.cpp
  tests/net/webrequest.cpp
Labels: ok to merge
