Repository wxWidgets/wxWidgets, pull requests merged in 2022-10, with the labels that each got.

#22850 Fix getting wxEVT_TEXT_ENTER and other events from wxBitmapComboBox
  include/wx/msw/combobox.h
  samples/widgets/bmpcombobox.cpp
  src/msw/bmpcbox.cpp
  src/msw/combobox.cpp
Labels: MSW

#22851 Enable double buffering by default in wxMSW
  include/wx/dcbuffer.h
  include/wx/msw/window.h
  src/msw/combo.cpp
  src/msw/window.cpp
Labels: MSW

#22873 Fix line numbers in Linux stack walk
  src/unix/stackwalk.cpp
Labels: backport-3.2

#22882 MSW fixes after enabling WS_EX_COMPOSITED
  demos/forty/canvas.cpp
  docs/changes.txt
  include/wx/msw/listctrl.h
  include/wx/msw/window.h
  interface/wx/dcclient.h
  interface/wx/window.h
  src/msw/dragimag.cpp
  src/msw/listctrl.cpp
  src/msw/window.cpp
Labels: MSW

#22929 wxQt: wxAnyButton should override GetLabel() too
  include/wx/qt/anybutton.h
  src/qt/anybutton.cpp
Labels: Qt
