Repository wxWidgets/wxWidgets, pull requests merged in 2022-05, with the labels that each got.

#22382 Increase usable scrolling range in wxMSW by a factor of 10,000
  samples/grid/griddemo.cpp
  src/msw/dc.cpp
  src/msw/renderer.cpp
  tests/graphics/coords.cpp
Labels: MSW

#22438 Fix wxGTK build with glib < 2.50
  include/wx/gtk/private/log.h
Labels: GTK

#22448 Make several changes in event-related docs
  docs/doxygen/overviews/eventhandling.h
  interface/wx/aui/auibar.h
  interface/wx/html/htmlwin.h
  interface/wx/propgrid/propgrid.h
  interface/wx/socket.h
  interface/wx/treelist.h
  interface/wx/webrequest.h
Labels: ok to merge, documentation
