Repository wxWidgets/wxWidgets, pull requests merged in 2022-06, with the labels that each got.

#22485 Fix using wxGCDC with scrolled wxDC in wxMSW
  src/msw/graphics.cpp
Labels: MSW

#22491 Fix AUI Themed Sash
  src/aui/dockart.cpp
Labels: macOS

#22497 Fix GetColumnCount for wxLC_LIST style
  interface/wx/listctrl.h
  src/generic/listctrl.cpp
  tests/controls/listctrltest.cpp
Labels: tests needed

#22522 Fix calling TransferDataFromCustomControls() with common dialogs
  include/wx/filedlg.h
  include/wx/msw/filedlg.h
  interface/wx/filedlgcustomize.h
  samples/dialogs/dialogs.cpp
  src/common/fldlgcmn.cpp
  src/msw/dirdlg.cpp
  src/msw/filedlg.cpp
Labels: MSW

#22565 Fixes for window resizing after DPI change in wxMSW
  include/wx/msw/window.h
  interface/wx/event.h
  src/msw/nonownedwnd.cpp
  src/msw/window.cpp
Labels: MSW
