Repository wxWidgets/wxWidgets, pull requests merged in 2023-06, with the labels that each got.

#23556 Locale-related fixes for macOS and new calendar names localization functions
  include/wx/datetime.h
  include/wx/private/uilocale.h
  include/wx/uilocale.h
  interface/wx/datetime.h
  interface/wx/uilocale.h
  src/common/datetime.cpp
  src/common/uilocale.cpp
  src/generic/calctrlg.cpp
  src/msw/uilocale.cpp
  src/osx/core/uilocale.mm
  src/unix/uilocale.cpp
  tests/intl/intltest.cpp
Labels: macOS, backport-3.2

#23602 Fix status bar and dialog grippers appearance in MSW dark mode
  include/wx/msw/private/customdraw.h
  include/wx/msw/private/custompaint.h
  include/wx/msw/uxtheme.h
  src/aui/barartmsw.cpp
  src/aui/tabartmsw.cpp
  src/msw/anybutton.cpp
  src/msw/combo.cpp
  src/msw/darkmode.cpp
  src/msw/dialog.cpp
  src/msw/listctrl.cpp
  src/msw/menuitem.cpp
  src/msw/notebook.cpp
  src/msw/renderer.cpp
  src/msw/statusbar.cpp
  src/msw/uxtheme.cpp
  src/msw/window.cpp
Labels: MSW, dark mode

#23623 Fixes for wxControl::GTKGetEntryMargins, wxTextCtrl::DoGetSizeFromTextSize, wxTreeTextCtrl on wxGTK
  src/generic/treectlg.cpp
  src/gtk/control.cpp
  src/gtk/textctrl.cpp
Labels: GTK, backport-3.2

#23648 Fix TAB navigation in MSW radio box
  src/msw/radiobox.cpp
Labels: MSW
